<html>
  <head>
 
  </head>
  <body>
      <div class="area">
          
      </div><nav class="main-menu">
            <ul>
                <li>
                    <a href="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            INICIO
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="report_g">
                        <i class="fa fa-file fa-2x"></i>
                        <span class="nav-text">
                            CONSULTA GENERAL
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a>
                       <i class="fa"></i>
                        <span class="nav-text">
                            CONSULTA ESPECÍFICA
                        </span>
                    </a>    
                    <ul class="fa">
                        <li><a href="kurento"><span class="nav-text">kurento</span></a></li>
                        <li><a href="#"><span class="nav-text">Orion</span></a></li>
                        <li><a href="#"><span class="nav-text">Wirecloud</span></a></li>
                        <li><a href="#"><span class="nav-text">Knowage</span></a></li>
                        <li><a href="#"><span class="nav-text">Wilma</span></a></li>
                        <li><a href="#"><span class="nav-text">KeyRock</span></a></li>
                        <li><a href="#"><span class="nav-text">Authzforce</span></a></li>
                        <li><a href="#"><span class="nav-text">AEON</span></a></li>
                    </ul>
                </li>
                                       
                <li>
                    <a href="help">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            AYUDA
                        </span>
                    </a>
                </li>
            </ul>

            
        </nav>
        
  </body>
    </html>
